---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import SeriesArrowCard from "@components/SeriesArrowCard.astro";
import { getEntry } from "astro:content";
import BannerRenderer from "@components/BannerRenderer.astro"

const allArticles = (await getCollection("article"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
const articles = allArticles.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const allSeries = (await getCollection("series"))

const series: {
  entry: CollectionEntry<"series">,
  banner: CollectionEntry<"banner">['data'] | null
}[] = await Promise.all(((await Promise.all(
  allSeries.map(
    async (entry) => [
      entry,
      await Promise.all(
        entry.data.articleIds.map(
          async (id) => await getEntry("article", `${id}`)
        )
      )
    ] as [CollectionEntry<"series">, CollectionEntry<"article">[]]
  )
)).map(([seriesEntry, articleEntries]) => ({
  entry: seriesEntry, latest: (articleEntries.toSorted((a,b) => b.data.date.valueOf() - a.data.date.valueOf()))[0].data.date
})).sort((a,b) => b.latest.valueOf() - a.latest.valueOf()).slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)).map(async ({entry}) => ({entry, banner: (await getEntry('banner',entry.id))?.data ?? null})))

---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    {/* <h1 class="animate font-semibold text-black dark:text-white">
      Introducing 
    </h1> */}
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              
            </p>
            <p>
              
            </p>
          </span>
          <span class="animate">
            <p>
              
            </p>
            <p>
              
            </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest articles</h2>
          <Link href="/article"> See all articles </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            articles.map((article) => (
              <li>
                <ArrowCard entry={article} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Recent series
          </h2>
          <Link href="/series"> See all series </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            series.map((eachSeries) => (
              <li>
                <SeriesArrowCard entry={eachSeries.entry}>
                  <BannerRenderer slug={eachSeries.entry.id} banner={eachSeries.banner}/>
                </SeriesArrowCard>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">연락처</h2>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
