---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import SeriesArrowCard from "@components/SeriesArrowCard.astro";


const allArticles = (await getCollection("article"))
  .filter((article) => !article.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
const articles = allArticles.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const articlesPerSeries = allArticles.reduce((acc, curr) => {
  if(curr.data.series) {
    const gotten = acc.get(curr.data.series)
    if(gotten === undefined) {
      acc.set(curr.data.series, [curr])
    } else {
      acc.set(curr.data.series, gotten.concat(curr))
    }
  }
  return acc
},new Map<string, CollectionEntry<"article">[]>)

function* getLatestUpdateDates() {
  for(let [key, value] of articlesPerSeries) {
    const latestUpdateDate = value
      .sort((a,b) => b.data.date.valueOf() - a.data.date.valueOf())[0].data.date
    yield [key, latestUpdateDate] as [string, Date]
  }
}

const latestUpdateDates = new Map(getLatestUpdateDates())

const series = (await getCollection("series"))
  .filter((eachSeries) => !eachSeries.data.draft)
  .sort((a,b) => {
    const a_date = latestUpdateDates.get(a.slug)
    const b_date = latestUpdateDates.get(b.slug)
    if(b_date) {
      if(a_date) {
        return b_date.valueOf() - a_date.valueOf()
      } else {
        return 1;
      }
    } else if(latestUpdateDates.get(a.slug)) {
      return -1;
    } else {
      return 0;
    }
  })
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)
  .filter((eachSeries) => latestUpdateDates.has(eachSeries.slug));
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Introducing 
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              
            </p>
            <p>
              
            </p>
          </span>
          <span class="animate">
            <p>
              
            </p>
            <p>
              
            </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest articles</h2>
          <Link href="/blog"> See all articles </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            articles.map((article) => (
              <li>
                <ArrowCard entry={article} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Recent series
          </h2>
          <Link href="/project"> See all series </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            series.map((eachSeries) => (
              <li>
                <SeriesArrowCard entry={eachSeries} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">연락처</h2>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
