---
import { getCollection, getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import SeriesArrowCard from "@components/SeriesArrowCard.astro";
import { SERIES } from "@consts";
import BannerRenderer from "@components/BannerRenderer.astro";

const series = await Promise.all((await getCollection("series"))
  .sort((a, b) => b.data.title.localeCompare(a.data.title))
  .map(async (entry) => ({entry, banner: (await getEntry('banner',entry.id))?.data ?? null})))
---

<Layout title={SERIES.TITLE} description={SERIES.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Series
      </div>
      <ul class="animate not-prose flex flex-col gap-4">
        {
          series.map((eachSeries) => (
            <li>
              <SeriesArrowCard entry={eachSeries.entry}>
                  <BannerRenderer slug={eachSeries.entry.id} banner={eachSeries.banner}/>
                </SeriesArrowCard>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
